.fullScreen
    width 100%
    height 65vh
    display flex
    background-color: $colors['light']
    justify-content space-evenly
    flex-wrap wrap
    & > .cards-bm
        align-self start
        width 17%
        margin-top 40px
        text-align center
        .w-img 
            padding 0 50px
            margin-top 20px
    


.well
    padding 0

.nu-indicadores
    font-size 70px
    margin-bottom 0
.nu-name
    padding 0
    padding-bottom 20px
    margin 0
.title-indicadores
    padding 10px 0
    margin 0


.ind-number
    font-size 120px