body
	font 100%
	font-family $fonts-family
	color: 		$font-color-default
	overflow-x: hidden

a 
	color: $colors['main']
	text-decoration: none
	&:hover
		color: $colors['main']
		text-decoration: none	
	
	
blockquote
	border-left: 5px solid $colors['main']

.flex
	flexBox()
	
